<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
    <targets async="true">
        <default-target-parameters xsi:type="File" keepFileOpen="true" />
        <target name="rf" xsi:type="File" fileName="wcs.log" archiveFileName="${basedir}/logs/wcs_{#}.log"
                archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" />
        <target xsi:type="ColoredConsole" name="con" encoding="utf-8" useDefaultRowHighlightingRules="true"
                stdErr="true" detectConsoleAvailable="true">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <target name="mem" xsi:type="Memory"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
        <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}" />


    </targets>
    <rules>
        <logger name="Microsoft.Hosting.*" minlevel="Info" writeTo="rf,con,mem" final="true" />
        <logger name="Microsoft.*" maxlevel="Warn" writeTo="" final="true" />
        <logger name="Microsoft.*" minlevel="Warn" writeTo="rf,con,mem" final="true" />
        <logger name="*" minlevel="Info" writeTo="rf,con,mem" />
    </rules>
</nlog>
        